.container__apresentacao {
    max-width: 1024px;
    width: 100%;
    margin: 56px auto 200px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
    align-items: center;
    border-bottom: 5px solid #E28509;

    &__img {
        width: 100%;

        &__sinopse {
            font-size: 1.2em;
            text-align: justify;
            color: rgba(255, 255, 255, 0.8);
        }
    }
}