.container__info {
    max-width: 1024px;
    width: 100%;
    margin: 16px auto 112px auto; 
    border: 5px solid #024649;
    padding-bottom: 24px;

    @media (max-width: 767px) {
        width: 80%;
        margin: 0px auto 64px auto;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        width: 80%;
    }

    h2 {
        font-size: 32px;
        text-transform: uppercase;
        margin: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #024649;

        @media (max-width: 767px) {
            font-size: 24px;
        }

        @media (min-width: 768px) and (max-width: 1023px) {
            font-size: 40px;
        }
    }
    
    &__questions {
        margin: 24px 16px;

        &__item {
            margin-top: 32px;
            font-size: 24px;

            @media (max-width: 767px) {
                font-size: 0.9em;
            }

            @media (min-width: 768px) and (max-width: 1023px) {
                font-size: 32px;
            }

            &__question {
                position: relative;
                display: block;
                cursor: pointer;
                font-weight: bold;

                &::after {
                    position: absolute;
                    top: 0px;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                    content: '+';
                }
            }

            &--is-open {
                .container__info__questions__item__question::after {
                    content: '-';
                }

                .container__info__questions__item__answer {
                    height: auto;
                    transition: height, 0.5s ease;
                }
            }

            &__answer {
                margin-left: 36px;
                height: 0px;
                overflow: hidden;

                @media (max-width: 767px) {
                    margin-left: 8px;
                }
            }

            &__list {
                list-style: inside;
            }
        }
    }
}