@use 'variaveis.scss';
@use 'apresentacao.scss';
@use 'shows.scss';
@use 'info.scss';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: variaveis.$fonteTextos;
    list-style: none;
}

body {
    background-image: linear-gradient(to bottom, #82031A, #82031A, #82031A, #024649, #024649, #A98026, #A98026);
}

.container__header {
    &__img {
        width: 100%;
            
        &__titulo {
            text-align: center;
            font-family: variaveis.$fonteTitulos;
            font-size: 116px;
            font-weight: bold;
            color: #fff;
            padding-bottom: 16px;

            @media (max-width: 767px) {
                font-size: 40px;
            }

            @media (min-width: 768px) and (max-width: 1023px) {
                font-size: 64px;
            }
        }
    }
}

.container__footer {
    text-align: center;
    padding: 16px;
    background-color: #024649;
    color: #fff;
    font-weight: bold;

    @media (min-width: 768px) and (max-width: 1023px) {
        font-size: 24px;
    }
}