@use 'variaveis.scss';
@use 'apresentacao.scss';
@use 'shows.scss';
@use 'info.scss';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: variaveis.$fonteTextos;
    list-style: none;
}

.container {
    background-image: linear-gradient(to bottom, #82031A, #82031A, #82031A, #024649, #024649, #A98026, #A98026);
}

.container__header {
    display: flex;
    flex-direction: column;
    
    &__img {
        width: 100%;
            
        &__titulo {
            position: relative;
            text-align: center;
            font-family: variaveis.$fonteTitulos;
            font-size: 8vw;
            font-weight: bold;
            height: 80vh;
            color: #fff;
            padding-bottom: 16px;
        }
    }
}